### Go ###
# Binaries for programs and plugins
*/*.exe
*.exe
*/*.exe~
*.exe~
*/*.dll
*.dll
*/*.so
*.so
*/*.dylib
*.dylib

# Test binary, built with `go test -c`
*/*.test
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*/*.out
*.out

# log file
*/*.log
*.log

### VisualStudioCode ###
.vscode/
debug
debug.test

### jetbrains IDE ###
.idea/